artifact/
txData/
server/cache
server/db
server/config/database.cfg
server/config/mongodb.cfg
.vscode/
.yarn/
*.bat
*.log
node_modules
*.bkp
.replxx_history

# linux only
*.sh
alpine/
imgui.ini
yarn.lock

polyzone_created_zones.txt

server/created_doors_data.txt

coord-line/
cache/
server/config/server.cfg
